<!DOCTYPE html>
<html>
    <head>
        <title><=%@article.title %></title>
    </head>
    <body>
        <h1><%=@article.title %></h1>
        <br>
        <p><%=@article.body %></p>
        <br>
        <% if @article.image.exists? %>
            <%= image_tag @article.image.url(:thumb) %><br/>
        <% end %>
        <br>
        <p>
            Tags:
            <% @article.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag) %>
            <% end %>    
        </p>
                <br>
        <%= link_to "edit", edit_article_path(@article) %>
        <br>
        <%= link_to "delete", article_path(@article), html_options = {method: :delete, data: {confirm: "Really delete this article?"}}%>
        <br>
        <br>
        <h3>Comments (<%= @article.comments.count %>)</h3>
        <%= render partial: 'articles/comment', collection: @article.comments %>
        
        <%= render partial: 'comments/form' %>
        <br>
        <%= link_to "<< Back to Articles List", articles_path %>
    </body>
</html>